* {
    box-sizing: content-box;
    font-family: system-ui;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

#logo-text h1 {
    margin: 0;
    width: 10rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
}

nav {
    margin-left: 17.2rem;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline;
    margin: 3rem;
}

#navbar a {
    display: inline;
    text-align: center;
    padding: 0.1rem 0.1rem;
    text-decoration: none;
    color: black;
}

#navbar a:hover {
    text-decoration: underline;
}

#logo-and-logo-text {
    display: flex;
    align-items: center;
}

body {
    margin-inline: 10rem;
}

[aria-labelledby="problem"] {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#problem-content {
    display: flex;
    flex-direction: column;
    width: 40rem;
}

#problem-content p {
    margin-top: 0;
}

.image {
    margin-left: 25rem;
}