* {
    box-sizing: content-box;
    font-family: system-ui;
}

#header {
    display: grid;
    grid-template-columns: 5% 15% 50%;
    padding: 1rem;
}

#logo-text > h1 {
    margin: 0;
}

#navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}