* {
  box-sizing: content-box;
  font-family: "Garet-Book";
  color: white;
}
@font-face {
  font-family: Garet-Book;
  src: url(/Fonts/Garet-Book.ttf);
}
@font-face {
  font-family: Garet-Bold;
  src: url(/Fonts/Garet-Heavy.ttf);
}
body {
  background-image: linear-gradient(rgba(0 0 0 / 30%), rgba(0 0 0 / 30%)),
    url(/Images/Original/Linear1-Grain1.png);
  background-size: cover;
  margin-inline: 7rem;
  background-attachment: fixed;
  overscroll-behavior: none;
}

/* Header Content */

header {
  display: grid;
  grid-template-columns: 64px 16rem auto;
  align-items: center;
  margin-bottom: 1rem;
}
#logo-text {
  line-height: 2rem;
}
#logo-text h1 {
  font-family: "Garet-Bold";
  font-size: 1.8rem;
}
#nav-list {
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
nav a {
  display: block;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 1rem;
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}
nav li:last-child a {
  padding-right: 0;
}
nav a:hover {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 1);
}
#current a {
  font-family: "Garet-Bold";
}

/* Body Content */

#page-title {
  display: flex;
  justify-content: center;
  margin-block: 3rem;
}
#page-title h1 {
  font-family: "Garet-Bold";
}

[aria-labelledby="rubbish-everywhere"] {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
  margin-bottom: 3rem;
}
#rubbish-everywhere-header {
  grid-area: 1 / 1 / 2 / 2;
}
#rubbish-everywhere-header h2 {
  margin-bottom: 0;
  font-family: "Garet-Bold";
}
#rubbish-everywhere-paragraph {
  grid-area: 2 / 1 / 3 / 2;
}
#rubbish-everywhere-paragraph p {
  margin-top: 0;
  font-size: large;
}
#rubbish-everywhere-img {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cause-and-responsible {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 1rem;
  margin-bottom: 3rem;
}
#cause-and-responsible h2 {
  font-family: "Garet-Bold";
}
#cause-and-responsible p {
  font-size: large;
}

[aria-labelledby="about-barry-curtis"] {
  display: grid;
  grid-template-columns: 0.8fr 0.7fr;
  grid-template-rows: 0.2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
  margin-bottom: 5rem;
}

#about-barry-curtis-header {
  grid-area: 1 / 1 / 2 / 2;
}
#about-barry-curtis-header h2 {
  margin-bottom: 0;
  font-family: "Garet-Bold";
}
#about-barry-curtis-img1 {
  grid-area: 2 / 1 / 5 / 2;
}
#about-barry-curtis-paragraph {
  grid-area: 2 / 2 / 3 / 3;
}
#about-barry-curtis-paragraph p {
  margin: 0;
  font-size: large;
}
#about-barry-curtis-img2-header {
  grid-area: 3 / 2 / 4 / 3;
}
#about-barry-curtis-img2-header h3 {
  margin: 0;
  font-family: "Garet-Bold";
}
#about-barry-curtis-img2 {
  grid-area: 4 / 2 / 5 / 3;
}

footer {
  display: flex;
  align-items: center;
}

#social-icons a {
  margin: 1rem;
}

#author {
  margin-left: auto;
  align-items: center;
}
