/* Universal Styling */

* {
  box-sizing: content-box;
  font-family: "Garet-Book";
  color: #fff;
}

@font-face {
  font-family: Garet-Book;
  src: url(/Fonts/Garet-Book.ttf);
}
@font-face {
  font-family: Garet-Bold;
  src: url(/Fonts/Garet-Heavy.ttf);
}

body {
  background-image: linear-gradient(rgba(0 0 0 / 30%), rgba(0 0 0 / 30%)),
    url(/Images/Original/Linear1-Grain1.png);
  background-size: cover;
  margin-inline: 7rem;
  background-attachment: fixed;
  overscroll-behavior: none;
}

/* Header Styling */

header {
  display: grid;
  grid-template-columns: 64px 16rem auto;
  align-items: center;
  margin-bottom: 1rem;
}

#logo-text {
  line-height: 2rem;
}

#logo-text h1 {
  font-family: "Garet-Bold";
  font-size: 1.8rem;
}

#nav-list {
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

nav a {
  display: block;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}

nav li:last-child a {
  padding-right: 0;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 1);
}

/* Main Styling */

#page-title {
  display: flex;
  justify-content: center;
  margin-block: 3rem;
}

[aria-labelledby="youre-the-solution"] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2fr;
  grid-column-gap: 40px;
  grid-row-gap: 1rem;
  margin-bottom: 2.5rem;
}

#youre-header h2 {
  margin-bottom: 0;
  font-family: "Garet-Bold";
}

#youre-paragraph p {
  margin-top: 0;
  font-size: large;
}

#youre-img {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  align-items: flex-end;
}

[aria-labelledby="we-need-your-help"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

#quote-text {
  font-size: 1.5rem;
  margin-block: 0;
}

#steps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 1rem;
  margin-bottom: 5rem;
}

#steps p {
  font-size: large;
}

#get-together {
  grid-area: 1 / 2 / 2 / 3;
}

#be-the-change {
  grid-area: 2 / 2 / 3 / 3;
}

#be-the-change h3,
h4 {
  text-align: center;
}

#be-the-change a {
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #000;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

#be-the-change a:hover {
  text-decoration: underline;
}

/* Footer Styling */

footer {
  display: flex;
  align-items: center;
}

#social-icons a {
  margin: 1rem;
}

#validation-checkmark {
  margin-left: 25rem;
}

#author {
  margin-left: auto;
  align-items: center;
}

/* Combination Styling for Optimisation */

#current a,
#page-title h1,
#we-need-your-help,
#steps h3 {
  font-family: "Garet-Bold";
}

#youre-header,
#spread-the-word {
  grid-area: 1 / 1 / 2 / 2;
}

#youre-paragraph,
#gift-your-time {
  grid-area: 2 / 1 / 3 / 2;
}

blockquote,
#quote-text p {
  margin: 0;
}
