* {
  box-sizing: content-box;
  font-family: Garet-Book;
  color: white;
}

@font-face {
  font-family: Garet-Book;
  src: url(/Fonts/Garet-Book.ttf);
}
@font-face {
  font-family: Garet-Bold;
  src: url(/Fonts/Garet-Heavy.ttf);
}

body {
  background-image: linear-gradient(rgba(0 0 0 / 30%), rgba(0 0 0 / 30%)),
    url(/Images/Original/Linear1-Grain1.png);
  background-size: cover;
  margin-inline: 7rem;
  background-attachment:fixed;
}

header {
  display: grid;
  grid-template-columns: 64px 16rem auto;
  align-items: center;
  margin-bottom: 1rem;
}

#logo-text {
  line-height: 2rem;
}

#logo-text h1 {
  font-family: "Garet-Bold";
  font-size: 1.8rem;
}

#nav-list {
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

nav a {
  display: block;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}

nav li:last-child a {
  padding-right: 0;
}

nav a:hover {
  text-decoration: underline;
}

#current a {
  font-weight: bold;
}

/* Body Content*/
[aria-labelledby="problem"] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2fr;
  grid-column-gap: 40px;
  grid-row-gap: 1rem;
  margin-bottom: 3rem;
}

#problem-header {
  grid-area: 1 / 1 / 2 / 2;
}
#problem-paragraph {
  grid-area: 2 / 1 / 3 / 2;
}
#problem-image {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  align-items: flex-end;
}

#problem-paragraph p {
  margin-top: 0;
  font-size: large;
}
#problem-header h2 {
  margin-bottom: 0;
  font-family: "Garet-Bold";
}

[aria-labelledby="worsening"] {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr;
  grid-template-rows: 0.2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
  margin-bottom: 3rem;
}

#worsening-paragraph {
  grid-area: 2 / 3 / 3 / 4;
  padding-left: 5rem;
}
#worsening-header {
  grid-area: 1 / 3 / 2 / 4;
}
#worsening-image1 {
  grid-area: 1 / 2 / 3 / 3;
}
#worsening-image2 {
  grid-area: 1 / 1 / 3 / 2;
}

#worsening-header h2 {
  float: right;
  margin-bottom: 0;
  font-family: "Garet-Bold";
}
#worsening-paragraph p {
  text-align: right;
  margin-top: 0;
  font-size: large;
}

[aria-labelledby="solution"] {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
  margin-bottom: 3rem;
}

#solution-paragraph {
  grid-area: 2 / 1 / 3 / 2;
}
#solution-header {
  grid-area: 1 / 1 / 2 / 2;
}
#solution-image {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  align-items: flex-end;
}

#solution-header h2 {
  margin-bottom: 0;
  font-family: "Garet-Bold";
}
#solution-paragraph p {
  margin-top: 0;
}
#solution-image img {
  display: block;
  margin-left: auto;
}

[aria-labelledby="together"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

#together-header h2 {
  font-family: "Garet-Bold";
}
#together-cta a {
  font-size: 1.5rem;
  text-decoration: none;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

footer {
  display: flex;
  align-items: center;
}

#social-icons a {
  margin: 1rem;
}

#author {
  margin-left: auto;
  align-items: center;
}

